n8n/workflow-2-query-pipeline.json
{
  "name": "CV-RAG 2: Query Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-560, -192],
      "id": "05ec612c-fc9d-4672-a234-98f9abe07bdb",
      "name": "Webhook (for Streamlit)1",
      "webhookId": "cv-rag-query-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, -176],
      "id": "a235530e-be4c-47b0-a464-d9566faa4b8d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [-304, 208],
      "id": "7fa70d2d-f82e-46e0-8b8b-06a25d1d4e42",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "UTJsPhetajaS17pP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Mike Murphy's resume, work experience, skills, education, projects, tutorials, courses, and personal accomplishments (including Camino de Santiago journey). Use this tool to answer ANY question about Mike's professional or personal background.",
        "tableName": "cv_chunks",
        "topK": 5,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [-224, 32],
      "id": "8f752cef-c80c-432e-9171-ffcff869b51a",
      "name": "Query Data Tool1",
      "credentials": {
        "postgres": {
          "id": "TZKsgiv75reWBifW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [-448, 144],
      "id": "940e580f-2d68-42d9-b17b-7679aaee18df",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "UTJsPhetajaS17pP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI assistant helping users learn about Mike Murphy. Use the query_knowledge_base tool to search his resume, work experience, skills, education, projects, and personal accomplishments. ALWAYS use the tool to find information before answering. Provide specific, detailed answers based on the retrieved context."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-288, -208],
      "id": "234b4a9b-d31e-4a91-a08c-ec7ae8e6ef98",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Mike Murphy. Ask my resume anything!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-656, 0],
      "id": "358fece7-6e8c-43d3-8d62-29e8ed16c7aa",
      "name": "When chat message received",
      "webhookId": "4af3ba96-799a-48b0-971c-a58777deab61"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (for Streamlit)1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Query Data Tool1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7741bc9a-ab6b-4dd7-bd05-bbd55f23ad5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a3f4b30d139bb4d4da62ccf6bec8aefe503a6057c743693063b0411d7afe9d0"
  },
  "id": "CcVOyd9OZRTOKrZR",
  "tags": [
    {
      "updatedAt": "2025-11-05T20:36:10.321Z",
      "createdAt": "2025-11-05T20:36:10.321Z",
      "id": "UXBoTIXaXgl3iGpi",
      "name": "RAG"
    }
  ]
}
